<form  id="clip_upload" action="/commanders/:commander_id/clips" method="post" enctype="multipart/form-data">
<input type="file" name="commander_<%= @commander.id %>_clip">
<br><br>
<input type="submit" value="Upload_Clip!" name="Upload_Clip">

</form>
