<img id="mvp_img" src="/assets/default_mvp.png" />
<form action="mvp" method="post" enctype="multipart/form-data">
<input type="file" name="commander_<%= @commander.id %>_mvp">
<br><br>
<input type="submit" value="Upload_MVP" name="Upload_Clip">
</form>
