  <h1>Dedicated Squad Member</h1>
  <form action="/MVP" method="post">
    <label>Name:</label>
    <input type="email" name="commander[email]"><br><br>
    <label>Password:</label>
    <input type="password" name="commander[password]">
      <br><br><br>
    <input type="submit" name="submit">
  </form>
