<div class="container">
<p><a href="/">Back</a>
</p>
  <h1>Register Commander</h1>
  <form action="/commanders" method="post">
    <label>Name:</label>
    <input type="text" name="commander[name]"><br><br>

    <label>Email:</label>
    <input type="email" name="commander[email]"><br><br>
    <label>Password:</label>
    <input type="password" name="commander[password]"><br><br>

    <input type="submit" name="submit">
  </form>
</div>
