<div id="com_main" class="container">
<h1>Welcome <%= @commander.name %>.</h1>

<div id="up_clip_container">
  <h3>Upload a new Clip</h3>
    <%= erb :'partials/_clip_upload' %>
</div>

<div id='mvp-container'>
  <h3>Current MVP Roster</h3>
    <%= erb :'partials/_MVP_show'%>
</div>

</div>
